<!DOCTYPE html>
<html lang="en">
	<meta charset="UTF-8">
	<title>Error</title>
    <link href="css/error.css" rel="stylesheet" type="text/css">
	<body>
		<div class="container">
			<p class="status">Something went Wrong!!</p>		
			<p class="desc">Please try again later</h3>
			<div class="backBtn">	
				<a href="/home" class="back">Back Home</a>
			</div>
		</div>
	</body>
</html>
