<!DOCTYPE html>
<html lang="en">
	<meta charset="UTF-8">
		<title>Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/home.css">
	<link rel="stylesheet" href="css/foodMenu.css">
	<body class="bodyBackground">
	<div class="navBg">
		<nav class="navBar">
			<img class="logoImg">
			<span class="navLink">
				<a class="menu-item-selected" href="/home">Home</a>
				<a href="/menu">Menu</a>
				<a href="/about">About Us</a>
				<a href="/contact">Contact Us</a>
				<% if(!userInitial) { %>
					<a href="/login">Login/Register</a>
				<% } %>
			</span>
			<div class="cart">
				<% if(!userInitial && cartItems && cartItems.length > 0) { %>
					<a href="/checkout">
						<img class="cart-img" onclick="" src="images/cart.png">
						<div class="cart-count"><%=cartCount%></div>
					</a>
				<% } %>
			</div>
			<% if(userInitial) { %>
				<div class="box">
					<div class="bar"><%=userInitial%>
						<% if(cartItems && cartItems.length > 0) { %>
							<div class="bar-cart-count"><%=cartCount%></div>
						<% } %>
					</div>
				</div>
			<% } %>
			<ul class="menubar-list">
				<li class="menu-item-selected mobile"><a href="/home">Home</a></li>
				<li class="mobile"><a href="/menu">Menu</a></li>
				<li class="mobile"><a href="/about">About Us</a></li>
				<li class="mobile"><a href="/contact">Contact Us</a></li>
				<% if(!userInitial) { %>
					<li class="mobile"><a href="/login">Login/Register</a></li>
				<% } else { %>
					<% if(cartItems && cartItems.length > 0) { %>
						<li><a href="/checkout">View Cart</a></li>
					<% } %>
					<li><a href="/editprofile">Edit Profile</a></li>
					<li><a href="/logout">LogOut</a></li>
				<% } %>
			</ul>
		</nav>
	</div>
	<main>
		<div class="restaurantName">
			The Red Door
		</div>
		<div class="restaurantTagline">
			The - Door - to - Flavours
		</div>
		<div class="we-are-video">
			<video preload="auto" autoplay muted >
				<source src="images/weare.mp4" type="video/mp4"></source>
			</video>
		</div>
		<div class="chefSpecialSection">
			<img class="chefSpecialImg" src="images/chefspecial.png">
		</div>
		<div class="callUs">
		<img src="images/phone-call.png">
		Call (767)67-67RED to reserve a table.
		</div>
	</main>
</body>
</html>
