body {
  background-image: url("../images/italian-food-background-1.jpg")!important;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Raleway-Light';
}

@font-face {
  font-family: 'Raleway-Light';
  src: url('../fonts/Raleway-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

.container {
    width: 20%;
    background-color:#c3c3c3;
    padding: 100px;
    padding-left: 150px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
}

.container-top {
  position: absolute;
  text-align: center;
  margin-left: 35%;
  padding-top: 40px;
  text-decoration: none;
  font-size: 18px;
  color: black;
}

.back-img {
  margin-top: 1px;
  width: 20px;
  height: 18px;
  vertical-align: top;
}

.container-top:hover  {
  text-decoration: none;
  color: black;
}

input[type=text], input[type=password] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  label {
      color: white;
      display: block;
      width: 80%;
  }

  .register {
    text-decoration: none;
    background: black;
    width: 80%;
    display: block;
    padding-top: 10px;
    height: 30px;
    color: white;
    text-align: center;
    margin-top: 10px;
  }

  .error {
      color: red;
      font-size: 20px;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #b14446;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80%;
}

.head {
    color: #b14446;
    font-size: 30px;
    font-weight: bold;
}
  
.register:hover, button:hover {
    width: 80%;
    opacity: 0.8;
}